<h2>

	<%= simple_form_for @pic do |f|%>
	<div class="span4 offset4 boxy text-center">
		<%= f.input :lesson %>
		<%= f.input :emotion %>
		<%= f.input :learned %>

		<%= submit_tag 'Save', :class => 'btn btn-danger btn-large' %>
	</div>
	<% end %>

<h2/>